body {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: auto;
    grid-template-areas:
        ". contact contact ."
        ". menu menu ."
        ". ingress ingress ."
        "image-block image-block image-block image-block"
        ". presentation cv ."
        ". presentation cv .";
    column-gap: 5%;
    row-gap: 0%;
    margin: 0%;
}

#contact {
    grid-area: contact;
    text-align: center;
    color: #0D16E0;
    line-height: 0;
    font-style: italic;
}