/* Colors to use:

Blue: #C9F0FF
Orange: #F29559
Yellow: #CFD11A
Pink: #DDBDD5
Black: #0020300 */

body {
    background-image: url("img/background.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: #D2BB81;
    color: #0020300;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style-type: none;
    list-style-position: inherit;
    margin: 0%;
    padding: 0%;
}

h3 {
    font-size: 32px;
}