body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        ". . ."
        ". name ."
        ". menu .";
    column-gap: 5%;
    row-gap: 0%;
    margin: 0%;
}

#name {
    grid-area: name;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color: #0D16E0;
    letter-spacing: 0.5rem;
}

#menu {
    grid-area: menu;
    text-align: center;
    font-style: italic;
    font-size: 32px;
    line-height: 2;
}