/* Colors to use:

Blue: #C9F0FF
Orange: #F29559
Yellow: #CFD11A
Pink: #DDBDD5
Black: #0020300 */

body {
    background-image: url("img/background.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: #D2BB81;
    color: #0020300;
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        ". . ."
        ". name ."
        ". menu .";
    column-gap: 5%;
    row-gap: 0%;
    margin: 0%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style-type: none;
    list-style-position: inherit;
    margin: 0%;
    padding: 0%;
}

#name {
    grid-area: name;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color: #0D16E0;
    letter-spacing: 0.5rem;
}

#menu {
    grid-area: menu;
    text-align: center;
    font-style: italic;
    font-size: 32px;
    line-height: 2;
}