/* Colors to use:

Blue: #C9F0FF
Orange: #F29559
Yellow: #CFD11A
Pink: #DDBDD5
Black: #0020300 */

body {
    background-color: #020300;
    color: #DDBDD5;
    font-family: 'Work Sans', sans-serif;

    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    grid-template-rows: auto;
    grid-template-areas:
        ". menu menu menu menu ."
        ". . header header . .";
}

a {
    color: inherit;
    text-decoration: inherit;
}

.menu {
    grid-area: menu;
}

.menu ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "menu1 menu2 menu3 menu4 menu5";
    column-gap: 10%;
    padding-inline-start: 0px;
}


.menu #menu1 {
    grid-area: menu1;
}

.menu #menu2 {
    grid-area: menu2;
}

.menu #menu3 {
    grid-area: menu3;
}

.menu #menu4 {
    grid-area: menu4;
}

.menu #menu5 {
    grid-area: menu5;
}

.header {
    grid-area: header;
    font-size: 72px;
    text-align: center;
    margin-top: 10%;
}